  
  .MessageImg {
    width: 40px;
    border-radius: 50%;
  }

  .MessageImgRight {
   margin: 0 10px 0 0;
  }
  
  .MessageTxt {
    margin: 0;
    padding: 0;
  }
  
  .MessageContainer {
    border-radius: 20px;
    padding: 10px;
    
    position: relative;
    min-width: 300px;
    font-size: 0.9em;
    background: yellow;
  }

  .MessageDate {
    position: absolute;
    right: 0;
    bottom: -15px;
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: black;
  }

  .MessageDateSend {
    left: 0;
  }
  
  .SendTxt {    
    background: #435f7a;
    color: #f5f5f5;
    margin: 0 0 0 10px;
  }
  
  .RepliesTxt {    
    background: #f5f5f5;
    color: #435f7a;
    margin: 0 10px 0 0;
  }